<%- include("partials/header.ejs") %>

  <div class="container">
    <form action="/publish" method="post">

      <div class="col text-end">
        <button class="publish-btn">📑 Publish</button>

      </div>
      <div class="row">
        <input 
        type="text" 
        name="title" 
        class="title-box" 
        placeholder="Title"
        required
        />
      </div>

      <div class="row">
        <textarea
          name="story"
          class="story-box"         
          placeholder="Tell your story...."
          required
        ></textarea>
      </div>

    </form>
  </div>
</html>
