* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

a {
  text-decoration-line: none;
  font-style: normal;
  color: black;
  font-weight: bold;
}

.title, .author {
  margin: 20px auto;
  width: 95%;
  height: 6vh;
  padding: 5px 10px;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.story {
  display: block;
  margin: 10px auto;
  width: 95%;
  height: 60vh;
  padding: 5px 10px;
  resize: none;
  text-align: left;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.box::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: grey;
  font-style: italic;
}

.grey-text {
  color: #888888;
}

.btn-write {
  background-color: #009f8b;
  border: #009f8b;
}

.btn-write:hover {
  background-color: #007667;
}
